<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787643768572-2it6o5nnphhdqjbi7qvp0qjsnt0gt62j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787643768572-2it6o5nnphhdqjbi7qvp0qjsnt0gt62j</string>
	<key>API_KEY</key>
	<string>AIzaSyAOpGRGEWnNVKohHsFIcWiD4HbUXIyl-ts</string>
	<key>GCM_SENDER_ID</key>
	<string>787643768572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiktokclone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-tutorial-2e0d8</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-tutorial-2e0d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787643768572:ios:b1ca151de35813dc8b0179</string>
</dict>
</plist>